@import url(./blocks/page.css);
@import url(./blocks/header.css);
@import url(./blocks/lead.css);
@import url(./blocks/intro.css);
@import url(./blocks/grid.css);
@import url(./blocks/places.css);
body{
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
}
p{margin: 0%;}





