@media screen and (min-width: 1280px){
.intro__content{
    width: 79.45%;
    height: 516px;
    margin-top: 92px;
    margin-left: 10.2%;
    margin-right: auto;
}
.intro__content-title{
    width: 100%;
    height: 116px;
    font-size: 54px;
    line-height: 58px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
.intro__content-phrase{
    width: 70.9%;
    height: 136px;
    margin-top: 40px;
    font-size: 24px;
    line-height: 34px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
.intro__content-author{
    width: 70.7%;
    height: 34px;
    font-size:24px ;
    line-height:34px ;
    text-align: right;
    margin-top: -24px;
    margin-bottom: 0%;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;
}
.intro__content-text{
    width: 70.7%;
    height: 182px;
    margin-top: 42px;
    line-height: 26.08px;
    font-size: 16px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
    "slnt" 0;

}
}
@media screen and (max-width: 1280px){
    .intro__content{
        width: 93.75%;
        height: 607px;
        padding-top: 55px;
        margin: 0;
        padding-left:3.125% ;
    }
    .intro__content-title{
        width: 100%;
        height: 232px;
        font-size: 54px;
        line-height: 58px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
        font-variation-settings:
        "slnt" 0;
        margin: 0;
    }
    .intro__content-phrase{
        width: 100%;
        height: 136px;
        padding-top: 15px;
        font-size: 24px;
        line-height: 34px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
        "slnt" 0;
    }
    .intro__content-author{
        width: 100%;
        height: 34px;
        font-size:24px ;
        line-height:34px ;
        text-align: right;
        margin-top: -24px;
        margin-bottom: 0%;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
        "slnt" 0;
    }
    .intro__content-text{
        width: 70.7%;
        height: 182px;
        margin-top: 42px;
        line-height: 26.08px;
        font-size: 16px;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        font-variation-settings:
        "slnt" 0;
    
    }
}